.name-app {
    width: 100%;
    background-color: darkred;
    height: 50px;
    text-align: center;
    font-style: italic;
    font-size: 35px;
    color: wheat;
}

.spasce-car, .space-track {
    display: inline-block;
    width: 45%;
    text-align: center;
    color: darkred;
    font-size: 20px;
    font-style: italic;
    padding-top: 10px;
}



.start-game {
    border-radius: 4px;
    border: 1px solid #808080;
    width: 120px;
    height: 30px;
    color: red;
    font-size: 18px;
}

.car,.track {
    padding: 15px 10px;
    display: inline-block;
}

.car.active, .track.active {
box-shadow: 0 0 1px red;

}  


.btn {
    margin: 0, auto;
    margin-left: 40%;
    margin-top: 25px;
}

.speedway {
    margin: 50px 60px;
    background-color: aqua;
    border-bottom: 2px dashed black;
    border-top: 2px dashed black;
}

.track-too, .track-one {
    border-bottom: 2px dashed black;
}


.track-lable-finish {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(90deg);
    font-size: 25px;
}
.track-lable {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    font-size: 25px;
}

.track-lable-start {
}
    .winer {
        line-height:90px;
        color: red;
        font-size: 35px;
        text-align: center;
    }

.all-track {
    margin: 0 50px;
    border-left: 2px dashed black;
    border-right: 2px dashed black;
    height: 90px;
    position: relative;
    
}


.racer {
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%) rotate(-90deg);
    left: 0%;
    transition: left 1s linear;
}